<% @title = t(:sign_up) %>
<div class="form_links sign_up_links">
  <div class="rubyforge_migrate">
    <%= t(:rubyforge_account) %>
  </div>
  <%= link_to t('.already_registered'), sign_in_path %>
</div>
<% form_for @user do |form| %>
  <%= render :partial => '/users/form', :object => form %>
  <%= form.submit t('.sign_up'), :disable_with => t(:please_wait) %>
<% end %>
