<% @title = t('.all_versions', :gem => @rubygem.name) %>
<p>
  <%= t('.versions_since', :count => @versions.size, :first_date => l(@rubygem.versions.first.built_at.to_date, :format => :long)) %>
</p>
<div class="versions">
  <ol>
    <%= render @versions %>
  </ol>
</div>
